node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
#*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# custom
.git/
.gitignore
build/
.idea/
backup/
__tests__/
note.md
.env
yarn-error.log
.vercel
error.log
Dockerfile
.dockerignore
docker-compose*
Caddyfile*
deploy.sh
guides/
.env.test
.env.development